<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.guts.gear"
	version 	= "1.0.0">

	<name>GUTS Gear</name>

	<description>
		A widget to easily access the GUTS Gear website
	</description>

	<author href="http://designloud.com"
		email="contact@designloud.com">
		Derek Schmidt
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
